/* If you don't plan to use TailwindCSS in your project, you can remove these imports */
@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 60vw !important;
} */
